main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 50px;
  }
  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: white;
    padding: 40px 0;
  }
  
  .contenedor-header {
    background-color: #f2f2f2;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
  }
  
  .texto-header h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .texto-header span {
    color: #4d804d;
  }
  
  .texto-header p {
    margin-top: 5px;
    font-size: 1.2em;
    color: #333;
  }
  
  .contenedor-header img {
    width: 120px;
    height: auto;
  }
  
  
  .titulo h1 {
    margin: 0;
    font-size: 2em;
  }
  
  .titulo span {
    color: #4d804d;
  }
  
  .titulo p {
    margin: 5px 0 0;
  }
  
  .contenido {
    padding: 40px;
  }
  
  .planta {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .planta img {
    width: 250px;
    margin-right: 20px;
  }
  
  footer {
    background-color: #804000;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  